In [1]:
name='     jyotsna   '

In [2]:
print(name)

     jyotsna

In [5]:
type(name)

str

In [6]:
name="jyotsna"

In [7]:
print(name)

jyotsna

In [8]:
print(name.title())

Jyotsna

In [9]:
fullname='jyotsna sarjerao desale'

In [10]:
print(fullname.title())

Jyotsna Sarjerao Desale

In [11]:
print(fullname.upper())

JYOTSNA SARJERAO DESALE

In [12]:
print(fullname.lower())

jyotsna sarjerao desale

In [13]:
firstname = 'jyotsna'

In [ ]:
lastname = 'desale'

In [ ]:
print

In [ ]:
f string

In [ ]:
custom words---{}

In [14]:
firstname="jyotsna"
lastname="desale"
sentence=f"{firstname} {lastname}"
print(sentence)

jyotsna desale

In [15]:
firstname="jyotsna"
lastname="desale"
sentence=f"{firstname.title()} {lastname.title()}"
print(sentence)

Jyotsna Desale

In [16]:
print('fav_sub','c++','java','python','oracle')

fav_sub c++ java python oracle

In [17]:
print('fav_sub', 'c++', 'java', 'python', 'oracle')

fav_sub c++ java python oracle

In [18]:
print('fav_sub\n','c++','java','python','oracle')

fav_sub
 c++ java python oracle

In [20]:
print('fav_sub\n','c++\n','java\n','python\n','oracle\n')

fav_sub
 c++
 java
 python
 oracle

In [21]:
print('fav_sub\n','c','c++\n','java\n','javascript','python\n','oracle\n')

fav_sub
 c c++
 java
 javascript python
 oracle

In [22]:
print('fav_sub\n','c\n','c++\n','java\n','javascript\n','python\n','oracle\n')

fav_sub
 c
 c++
 java
 javascript
 python
 oracle

In [23]:
print('fav_sub\n','c','c++','java','javascript','python','oracle')

fav_sub
 c c++ java javascript python oracle

In [24]:
print('fav_sub\n','c\n','c++\n','oops\n','java\n','javascript\n','python\n','oracle\n')

fav_sub
 c
 c++
 oops
 java
 javascript
 python
 oracle

In [25]:
print('fav_sub\n','c\n','c++\n','oops\n\t','java\n\t','javascript\n','python\n','oracle\n')

fav_sub
 c
 c++
 oops
	 java
	 javascript
 python
 oracle

In [31]:
print('fav_sub\n\t','c\n\t\t','c++\n\t\t\t','oops\n\t\t\t\t','java\n\t\t\t\t\t','javascript\n\t\t\t\t\t\t\t','python\n\t\t\t\t\t\t\t\t','oracle\n\t\t\t\t\t\t')

fav_sub
	 c
		 c++
			 oops
				 java
					 javascript
							 python
								 oracle

In [37]:
print('\nfav_sub','\nc','\nc++')

fav_sub
c
c++

In [38]:
name= 'raj'

In [39]:
print(name)

raj

In [40]:
name='       raj'

In [41]:
print(name)

       raj

In [42]:
name.lstrip()

'raj'

In [43]:
name_me='     sam     '

In [44]:
print(name_me)

     sam

In [45]:
name_me.rstrip()

'     sam'

In [46]:
name_me.lstrip()

'sam     '

In [47]:
name_me.strip()

'sam'

In [ ]:
#Introduction to list data type
 
    #def: A list is a collection of items in a particular order
    
    #classification : mutable datatype
    
    #list datatype--- []

In [48]:
students = ['ram','chitra','neel','khushal','harsha','krishna','prajkta']

In [49]:
print(students)

['ram', 'chitra', 'neel', 'khushal', 'harsha', 'krishna', 'prajkta']

In [50]:
type(students)

list

In [56]:
students = ["ram","chitra","neel","khushal","harsha","krishna","prajkta"]

In [53]:
type(students)

list

In [ ]:
#what is Indexing?
     'ram', 'chitra', 'neel', 'khushal', 'harsha', 'krishna', 'prajkta'

In [ ]:
0,1,2,3,4,5,6,7,.........

In [57]:
print(students[2])

neel

In [59]:
print(students[2].title())

Neel

In [60]:
student=['jyotsna','prajkta','minal','kirtika','shubhangi','mansi','shital','rina','garima','priyanka']

In [63]:
print(student[2].title())
print(student[5].title())
print(student[9].title())
print(student[6].title())

Minal
Mansi
Priyanka
Shital

In [65]:
print(student[2])
print(student[5])
print(student[9])
print(student[6])

minal
mansi
priyanka
shital

In [70]:
print(student[1],student[3],student[6],student[9])

prajkta kirtika shital priyanka

In [71]:
#How to add a new element to the list?
#How to modify the element in the list?
#How to delete the element in the  list?

In [72]:
#How to add a new element to the list?

In [73]:
students= ['ram','chitra','neel','khushal','harsha','krishna','prajkta']

In [74]:
#Req: i want to add raju to this list

In [75]:
students.append('raju')
print(students)

['ram', 'chitra', 'neel', 'khushal', 'harsha', 'krishna', 'prajkta', 'raju']

In [76]:
students.append('nisha')

In [77]:
print(students)

['ram', 'chitra', 'neel', 'khushal', 'harsha', 'krishna', 'prajkta', 'raju', 'nisha']

In [78]:
students.insert(2, 'rohit')

In [79]:
print(students)

['ram', 'chitra', 'rohit', 'neel', 'khushal', 'harsha', 'krishna', 'prajkta', 'raju', 'nisha']

In [80]:
print(students[6])

krishna

In [ ]:
#How to modify the element in the list?

In [81]:
students

['ram',
 'chitra',
 'rohit',
 'neel',
 'khushal',
 'harsha',
 'krishna',
 'prajkta',
 'raju',
 'nisha']

In [82]:
print(students)

['ram', 'chitra', 'rohit', 'neel', 'khushal', 'harsha', 'krishna', 'prajkta', 'raju', 'nisha']

In [83]:
students[1]= 'chiu'

In [84]:
print(students)

['ram', 'chiu', 'rohit', 'neel', 'khushal', 'harsha', 'krishna', 'prajkta', 'raju', 'nisha']

In [ ]:
#How to delete the element in the  list?

del

In [85]:
del students[4]

In [86]:
print(students)

['ram', 'chiu', 'rohit', 'neel', 'harsha', 'krishna', 'prajkta', 'raju', 'nisha']

In [87]:
student=['jyotsna','prajkta','minal','kirtika','shubhangi','mansi','shital','rina','garima','priyanka']

In [88]:
student.append('raju')
print(student)

['jyotsna', 'prajkta', 'minal', 'kirtika', 'shubhangi', 'mansi', 'shital', 'rina', 'garima', 'priyanka', 'raju']

In [89]:
student[1]= 'chiu'

In [90]:
print(student)

['jyotsna', 'chiu', 'minal', 'kirtika', 'shubhangi', 'mansi', 'shital', 'rina', 'garima', 'priyanka', 'raju']

In [91]:
del student[4]

In [93]:
print(student)

['jyotsna', 'chiu', 'minal', 'kirtika', 'shubhangi', 'mansi', 'shital', 'rina', 'garima', 'priyanka', 'raju']

In [94]:
del student[3]
print(student)

['jyotsna', 'chiu', 'minal', 'shubhangi', 'mansi', 'shital', 'rina', 'garima', 'priyanka', 'raju']

In [99]:
# python program to display calendar

#built_in function
#In the program below,
#

In [101]:
#

In [102]:
import calendar  
    
yy = 1998
mm = 5
    
# display the calendar  
print(calendar.month(yy, mm))

      May 1998
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [ ]:
import calendar
yy=2021 #yeaar
mm=3 #month

#to take month and year input from the user
#yy=int (input("Enter year:"))
#mm=int (input("Enter month:"))

#display the calendar
print

In [103]:
#let us fin the value of "pi"
import math

In [105]:
print("the value of pi is",math.pi)

the value of pi is 3.141592653589793

In [109]:
#python program to Add Two Numbers

#Example 1: Add Two Numbers

num1 = 37.69
num2 =17.73
sum=num1+num2
print('The sum {0} and {1} is {2}'.format(num1,num2,sum))

The sum 37.69 and 17.73 is 55.42

In [ ]:
# Example 2: Add two numbers with  User Input

In [111]:
num1 = input('enter first numbers:')
num2 = input('enter second numbers:')
num3 = input ('enter third numbers')
sum = float(num1) + float(num2) + float(num3)
print(sum)

enter first numbers:40.6
enter second numbers:18.56
enter third numbers-48
11.159999999999997

In [113]:
num1 = input('enter first numbers:')
num2 = input('enter second numbers:')
num3 = input ('enter third numbers')
sum = float(num1) + float(num2) + float(num3)
print(sum)

enter first numbers:736
enter second numbers:32.6
enter third numbers-345.9
422.70000000000005

In [112]:
num1 = input('enter first numbers:')
num2 = input('enter second numbers:')
num3 = input ('enter third numbers')
sum = float(num1) + float(num2) + float(num3)
print('The sum {0} and {1} and {2} is {3}'.format(num1,num2,num3,sum))

enter first numbers:20.7
enter second numbers:45.9
enter third numbers56.8
The sum 20.7 and 45.9 and 56.8 is 123.39999999999999